body{
    background: #a3c2c2;
}


form {
	width: 60%;
  float: left; }
  
  /* .panel, .panel-heading */ .toWell, .well  {
	  width: 30%;
	  float: right;
	  }
  
  #keyTable {
  width: 30%;
  height: 30%;
  padding: 10px;
  /* border: 1px solid #000; */
  font: 41px "Courier", monospace;
  /* float: right; */} 
  
  .msg {
		display: none;
			margin: 0 5px;
			padding: 0 5px;
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;
		}
		.text-white { color: #fff; } /* to be tevised */
		.glyphicon {font-size: 18px; vertical-align: top;} /* to be tevised */